/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye padding y border en el tamaño total del elemento */
}

body {
    font-family: "Roboto", sans-serif; /* Fuente utilizada para el cuerpo */
    font-weight: 400; /* Peso de la fuente normal */
    font-style: normal; /* Estilo normal de la fuente */
}

body, header, main {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex; /* Flexbox para alinear elementos en una fila */
    justify-content: space-between; /* Espacio entre el navbar y el search-container */
    align-items: center; /* Alineación vertical */
    padding: 15px; /* Espaciado alrededor del contenedor */
    background-color: #f8f8f8; /* Color de fondo */
    width: 100%; /* Ancho completo */
}

/* Estilos del botón de menú */
.menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001;
    color: #000;
}

/* Estilos del navbar */
#main-navbar {
    flex-grow: 1; /* El navbar ocupa la mayor parte del espacio */
    background-color: #aec6ef; /* Color de fondo del navbar */
    padding: 15px 0; /* Espaciado superior e inferior */
    position: fixed; /* Fijo en la parte superior */
    top: 0; /* Parte superior */
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    align-items: center; /* Alineación vertical */
    justify-content: flex-start; /* Alineación horizontal */
    width: 100%; /* Ancho completo */
}

.navbar {
    display: none; /* Oculta el menú en dispositivos móviles inicialmente */
    flex-direction: row; /* Coloca los enlaces en una fila */
    background-color: #f8f8f8; /* Color de fondo del menú */
    padding: 10px; /* Espaciado dentro del menú */
}

.navbar ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    display: flex; /* Flexbox para el menú */
    align-items: center; /* Alineación vertical */
    justify-content: flex-start; /* Centrado horizontal */
    width: 100%; /* Ancho completo */
}

.navbar li {
    margin: 0 10px; /* Espacio entre los elementos del menú */
}

.navbar a {
    text-decoration: none; /* Sin subrayado */
    color: #000; /* Color del texto */
    font-size: 0.8em; /* Tamaño de la fuente */
    padding: 10px 15px; /* Espaciado de los enlaces */
    display: block; /* Los enlaces ocupan todo el ancho disponible */
}

.navbar a:hover {
    color: #ad7bc5; /* Color al pasar el ratón */
}

.navbar.show {
    display: block; /* Muestra el menú cuando se agrega la clase 'show' */
}


.navbar .logo {
    width: 40px; /* Ancho del logo */
    height: 40px; /* Altura del logo */
    border-radius: 50%; /* Forma redonda */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}

.search-container {
    width: 80%; /* Hace que el contenedor cubra el 90% de la pantalla */
    margin: auto; /* Centra el contenedor horizontalmente */
    display: flex; /* Flexbox para alinear elementos */
    align-items: center; /* Alineación vertical */
    border: 1px solid #8190d2; /* Borde */
    padding: 5px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados al 1% */
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}

#pais, #especialista, .search-input, .search-button {
    height: 30px; /* Altura fija para todos los elementos */
    font-size: 1em; /* Tamaño de la fuente */
    border: 1px solid #8190d2;
}

#pais, #especialista {
    padding: 5px;
    border-radius: 4px; /* Bordes redondeados */
}

.search-input {
    width: 100%; /* Ajusta el ancho dinámicamente */
    padding: 5px;
    border-radius: 5px 0 0 5px; /* Bordes redondeados */
    outline: none;
    border-right: none; /* Sin borde derecho */
    margin: 0; /* Sin margen */
}

.search-button {
    padding: 5px 10px;
    border-left: none; /* Sin borde izquierdo */
    border-radius: 0 5px 5px 0; /* Bordes redondeados */
    background-color: #8190d2;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #6b7bbd; /* Color de fondo al pasar el ratón */
}

/* Estilos del banner */
.banner-container {
    position: relative; /* Posicionamiento relativo para elementos hijos */
    width: 100%; /* Ancho completo */
    height: 320px; /* Altura fija */
    background-color: #aec6ef; /* Color de fondo */
    margin-top: 70px; /* Altura del navbar para evitar superposición */
}

.banner-container img {
    width: 100%; /* Ancho completo de la imagen */
    height: 100%; /* Altura completa de la imagen */
}

.banner-container h1 {
    position: absolute; /* Posición absoluta para centrar el texto */
    top: 50%; /* Centro vertical */
    left: 60px; /* Espacio a la izquierda */
    transform: translateY(-25%); /* Ajusta la posición */
    color: #ad7bc5; /* Color del texto */
    font-size: 4em; /* Tamaño de la fuente */
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 0.5); /* Sombra del texto */
}

.banner-container h3 {
    position: absolute; /* Posición absoluta */
    top: calc(60% + 2em); /* Centro vertical más espacio */
    left: 60px; /* Espacio a la izquierda */
    transform: translateY(-50%); /* Ajusta la posición */
    color: #fefefe; /* Color del texto */
    font-size: 1.2em; /* Tamaño de la fuente */
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 0.5); /* Sombra del texto */
}

/* Estilos para centrar el carrusel */
#publicidadCarousel {
    display: flex; /* Flexbox para el carrusel */
    height: 200px; /* Altura fija */
    width: 100%; /* Ancho completo */
    margin: 10px 0; /* Espacio alrededor */
}

#publicidadCarousel .carousel-inner {
    display: flex; /* Flexbox para el interior del carrusel */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

#publicidadCarousel .carousel-item {
    transition: transform 0.5s ease; /* Transición suave */
}

#publicidadCarousel img {
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    width: 100%; /* Ancho completo */
    height: 320px; /* Altura consistente */
}

/* Para asegurar que el carrusel esté bien centrado */
.carousel {
    padding-left: 0; /* Sin padding izquierdo */
    padding-right: 0; /* Sin padding derecho */
}

.carousel-item img {
    margin: 0 auto; /* Centra la imagen */
}

/* Estilos generales para el contenedor principal */
.main-container {
    display: flex; /* Flexbox para el contenedor principal */
    flex-direction: column; /* Columna */
    align-items: center; /* Alineación centrada */
    padding: 20px; /* Espaciado interno */
    margin-top: 100px; /* Espacio superior */
}

/* Estilos para el contenedor de las secciones */
.container {
    width: 100%; /* Ancho completo */
    max-width: 1200px; /* Ancho máximo */
    margin: 0 auto; /* Centrado horizontal */
    padding: 20px; /* Espaciado interno */
}

/* Estilos para las secciones */
section {
    background-color: #f2e2ee; /* Color de fondo */
    border: 2px solid #8190d2; /* Borde */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espacio inferior */
    text-align: center; /* Texto centrado */
    width: 100%; /* Ancho completo */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}

#eligenos {
    height: max-content;
}

#eligenos-miniaturas {
    height: max-content;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.card-imagen {
    border-radius: 100%;
}
  
.card-img-top-a {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.h3 {
    text-align: center;
}

#h2 {
    text-align: center;
}

#input .form-control {
    width: 100%;
    margin: 10px 0;
}

/*estilos para trapezoides*/
.trapezoid {
    width: 300px; /* Ancho del div */
    height: 300px; /* Altura del div */
    position: relative;
    clip-path: polygon(0% 0%, 100% 20%, 100% 80%, 0% 100%);
    padding: 20px;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px; /* Bordes redondeados */
}

.trapezoid-1{
    background-color: lightblue; /* Color de fondo */
}

.trapezoid-2{
    background-color: #f2e2ee; /* Color de fondo */
}

.trapezoid-3{
    background-color: #ad7bc5; /* Color de fondo */
}

.trapezoid h5 {
    margin: 0; /* Elimina el margen para centrar mejor */
}

.trapezoid a {
    text-decoration: none; /* Sin subrayado */
    color: #000; /* Color del texto */
    padding: 10px 15px; /* Espaciado de los enlaces */
    display: block; /* Los enlaces ocupan todo el ancho disponible */
}

/* Estilos del formulario */
.container-form {
    margin-top: 100px; /* Espacio superior */
}

form {
    display: flex; /* Flexbox para el formulario */
    flex-direction: column; /* Columna */
    align-items: center; /* Alineación centrada */
    background-color: #f2e2ee; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border: 2px solid #8190d2; /* Borde */
    border-radius: 15px; /* Bordes redondeados */
    margin: 20px 0; /* Espacio superior e inferior */
}

form label {
    margin: 10px 0 5px 0; /* Espacio superior, sin espacio inferior */
    font-size: 1.2em; /* Tamaño de la fuente */
}

form input, form textarea {
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espacio inferior */
    width: 80%; /* Ancho del 80% */
    max-width: 400px; /* Ancho máximo */
    border: 1px solid #8190d2; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 1em; /* Tamaño de la fuente */
}

form button {
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1.2em; /* Tamaño de la fuente */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #8190d2; /* Color de fondo */
    color: white; /* Color del texto */
    cursor: pointer; /* Cursor de puntero */
}

form button:hover {
    background-color: #6b7bbd; /* Color de fondo al pasar el ratón */
}

/* Estilos para el footer */
footer {
    background-color: #aec6ef; /* Color de fondo */
    padding: 20px 0; /* Espaciado superior e inferior */
    text-align: center; /* Texto centrado */
    width: 100%; /* Ancho completo */
}

footer .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

footer ul {
    margin-top: 30px;
}

footer ul li{
    text-align: left;
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    padding: 10px 15px;
}

/* Media Queries para Responsividad */
@media (min-width: 768px) {
    .navbar {
        display: flex; /* Muestra el menú en dispositivos de escritorio */
    }
}

@media (max-width: 768px) {
    .banner-container {
        margin-top: 0;
        padding-bottom: 0;
    }

    /* Asegura que el banner cubra el espacio vacío */
    .banner-container img {
        margin-top: 0; /* Ajusta para que la imagen comience justo debajo del navbar */
        height: calc(100vh - 50px); /* Ajusta la altura del banner según la altura del navbar */
        object-fit: cover;
    }

    .banner-container h1 {
        top: 55%; /* Ajusta la posición vertical */
        left: 20px; /* Ajusta el espacio a la izquierda */
        font-size: 2.5em; /* Ajusta el tamaño de la fuente */
        transform: translateY(-50%); /* Ajusta la posición */
    }

    .banner-container h3 {
        top: 75%; /* Ajusta la posición vertical */
        left: 20px; /* Ajusta el espacio a la izquierda */
        font-size: 1em; /* Ajusta el tamaño de la fuente */
        transform: translateY(-50%); /* Ajusta la posición */
    }

    /* Ajusta la altura del navbar y del banner para evitar espacios en blanco */
    #main-navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1001; /* Asegura que el navbar esté siempre encima */
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin: 10px 0;
    }

    .navbar .logo {
        width: 40px;
        height: 40px;
    }

    section {
        padding: 30px 10px;
    }

    form input, form textarea {
        width: 90%;
    }

    .menu-toggle {
        display: block; /* Asegúrate de que el botón se muestre en pantallas pequeñas */
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1001;
    }

    .navbar {
        display: none; /* Oculta el menú en dispositivos móviles inicialmente */
        background-color: #f8f8f8; /* Color de fondo del menú */
        padding: 10px; /* Espaciado dentro del menú */
        position: fixed; /* Fijo en la parte superior */
        top: 50px; /* Debajo del botón de menú */
        right: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar.show {
        display: flex;
        flex-direction: column; /* Coloca los enlaces en una columna */
    }

    .search-container {
        position: relative;
    }
    
    .search-container select {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    
    .search-container input, .search-container button {
        position: relative;
    }
}

@media (max-width: 480px) {
    .banner-container {
        margin-top: 0;
        padding-bottom: 0;
    }

    .banner-container img {
        margin-top: 0;
        height: calc(100vh - 50px);
    }

    .banner-container h1 {
        top: 55%; /* Ajusta la posición vertical */
        left: 20px; /* Ajusta el espacio a la izquierda */
        font-size: 2.5em; /* Ajusta el tamaño de la fuente */
        transform: translateY(-50%); /* Ajusta la posición */
    }

    .banner-container h3 {
        top: 75%; /* Ajusta la posición vertical */
        left: 20px; /* Ajusta el espacio a la izquierda */
        font-size: 1em; /* Ajusta el tamaño de la fuente */
        transform: translateY(-50%); /* Ajusta la posición */
    }

    .navbar {
        display: none; /* Oculta el menú en dispositivos móviles inicialmente */
        background-color: #f8f8f8; /* Color de fondo del menú */
        padding: 10px; /* Espaciado dentro del menú */
        position: fixed; /* Fijo en la parte superior */
        top: 50px; /* Debajo del botón de menú */
        right: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar.show {
        display: flex;
        flex-direction: column; /* Coloca los enlaces en una columna */
    }


    .navbar .logo {
        width: 30px;
        height: 30px;
    }

    form input, form textarea {
        width: 100%;
    }

    .search-container {
        position: relative;
    }
    
    .search-container select {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    
    .search-container input, .search-container button {
        position: relative;
    }
}